body {
  overflow: scroll;
}

.main {
  margin-left: 5px;
  border: 0;
  width: 98%;
  height: 33px;
  background: linear-gradient(to bottom, #fff, #B0C17A);
  background: -webkit-linear-gradient(top, #fff, #B0C17A);
  border-radius: 0 20px 20px 0;
  position: absolute;
  }

.sheet {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font: 16px/33px Times, 'Times New Roman', Georgia, serif; 
  border-right: 2px solid #fff;
  box-shadow: 1px 0 0px 0 grey; 
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}  

.hidden {
  display: none;
}

.fullscreen {
  background-color:#D7E0BC;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

.fullscreen-message {
  background-color: white;
  position:fixed;
  border: 1px solid black;
  z-index:2000;
}

#showDataOrders {
  cursor: pointer;
}

#showDataOrders th {
  cursor: auto;
}


#showOrder {
  width:80%;
  height:80%;
  top:10%;
  left:10%;
}

#wellcomeMessage {
  text-align: center;
  width:80%;
  height:80%;
  top:10%;
  left:10%;
  font-size: x-large;
}

.wellcome-message-paragraph {
  padding: 3%;
  display: inline-block;
}

#wellcomeClose {
  font-size: large;
  width: 10vw;
  height: 5vh;
}

.div-fadeout {
  opacity: 0;
  transition: 0.5s;
}

.form-button {
  margin-top: 10px;  
}

.outside-block-container {
  display: flex;
  justify-content: center;
}

.block-container {
  display: inline-block;
  vertical-align: top;
  margin: 3%;
}


h1 {
  text-align: center;
}

.show-data-table {
  margin: 0 auto;
}

td {
  padding-left: 7px;
}

td input {
  width: 100%;
}

.container-justify-space-evenly {
  display: flex;
  justify-content: space-evenly;
}


.tip {
  display: inline-block;
  max-width: 150px;
  position: fixed;
	text-align: center;
  padding: 5px;
	background-color: #fff;
	border: 2px solid red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px red;
	-moz-box-shadow: 1px 1px 1px red;
	box-shadow: 1px 1px 1px red;
}
 
.tip:before { 
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	right: -20px;
	top: 5px;
  border-left: 20px solid; 
	border-right: 0px solid; 
	border-top: 8px solid; 
	border-bottom: 8px solid; 
  border-color: transparent transparent transparent red; 
}

.tip:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	right: -18px;
	top: 7px; 
  border-left: 18px solid; 
	border-right: 0px solid; 
	border-top: 6px solid; 
	border-bottom: 6px solid; 
	border-color: transparent transparent transparent #fff; 
}
 
